body {
    font-family: 'arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px; 
    overflow-x: hidden;
}

h1 {
    font-size: 85px;
    margin-top: 50px;
    margin-left: -920px;
    color: white;
}

.container2 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 50px;
    color: black;
    margin-left: -1400px;
    margin-top: -50px;
}

.degradé1 {
    background: linear-gradient(to right,#000000, #000000, #000000,#121142,#1e1d79,#2d2ca8,#3533cd );
    height: 283px;
    width: 100%;
    margin: 20px 0;
    margin-top: -276px;
}

.logo {
    margin-top: -337px;
    margin-left: 2900px;
    height: -50%;
}

.roles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px; 
    margin-left: 1750px; 
    margin-top: 170px;
}

.role {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; 
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(33.33% - 40px); 
}

.role:nth-child(4),
.role:nth-child(5) {
    flex: 1 1 calc(50% - 40px); 
}

.role h2 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
    text-align: center; 
}

.role p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.container3 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 60px;
    color: black;
    margin-left: 120px;
    margin-top: -50px;
}

.position_detaillé {
    margin-top: -70px;
    margin-left: 250px;
    height: 5px;
}

.texte {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 425px;
    margin-top: 17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 52%;
    text-align: left;
}

.degradéP2 {
    margin-top: 600px;
    margin-left: 1280px;
}