body {
    font-family: 'arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px; 
    overflow-x: hidden;
}

h1 {
    font-size: 115px;
    margin-top: 50px;
    margin-left: -820px;
    color: white;
}

.container2 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 50px;
    color: black;
    margin-left: -1025px;
    margin-top: -30px;
}

.degradé1 {
    background: linear-gradient(to right,#000000, #000000, #000000,#121142,#1e1d79,#2d2ca8,#3533cd );
    height: 253px;
    width: 100%;
    margin: 20px 0;
    margin-top: -276px;
}

.logo {
    margin-top: -390px;
    margin-left: 2650px;
    height: -50%;
}

.ballon {
    margin-top: 150px;
    margin-left: 1250px;
    height: 5px;
    width: 100%;
}

.container3 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 30px;
    color: black;
    margin-left: -200px;
    margin-top: -80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: left;
}

.ballon {
    margin-top: 240px;
    margin-left: 1250px;
    height: 5px;
    width: 100%;
}

.h3 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 50px;
    color: black;
    margin-top: 0px;
}

.container4 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 460px;
    margin-top: -10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: left;
}

.genouillères {
    margin-top: -375px;
    margin-left: -450px;
    height: 5px;
    width: 100%;
}

.container5 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 30px;
    color: black;
    margin-left: -550px;
    margin-top: -30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    text-align: left;
}

.h4 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 60px;
    color: black;
    margin-left: -455px;
    margin-top: 450px;
}

.manchons {
    margin-top: -600px;
    margin-left: 1070px;
    height: 5px;
    width: 100%;
}

.h5 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 50px;
    color: black;
    margin-top: 675px;
}

.container6 {
    font-family: 'WorkSans-VariableFont_wght', sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 650px;
    margin-top: -10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: left;
}

.tape {
    margin-top: -510px;
    margin-left: -650px;
    height: 5px;
    width: 100%;
}

.degradéP2 {
    margin-top: 550px;
    margin-left: -750px;
}

